{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    Mamma mia! | Pizzas auténticas
{% endblock %}
{%block extra_head%}
<link rel="stylesheet" href="{% static 'assets/css/pizzas.css' %}">
{%endblock%}

{% block content %}
<!-- Header -->
<header id="home" class="header">
    <div class="overlay text-white text-center">
        <h1 class="display-2 font-weight-bold my-3">Mamma mia!</h1>
        <h2 class="display-4 mb-5">{% trans "Pizzas auténticas" %}</h2>
        <a class="btn btn-lg btn-primary" href="#masas">{% trans "Nuestro menú" %}</a>
    </div>
</header>

<!-- About Section -->
<div id="about" class="container-fluid wow fadeIn" data-wow-duration="1.5s">
    <div class="row">
        <div class="col-lg-6 has-img-bg"></div>
        <div class="col-lg-6">
            <div class="row justify-content-center">
                <div class="col-sm-8 py-5 my-5">
                    <h2 class="mb-4">{% trans "Acerca de nosotros" %}</h2>
                    <p>{% trans "Bienvenidos a Mamma Mia, donde la tradición italiana se encuentra con la innovación culinaria. Nuestra pizzería se enorgullece de utilizar solo los ingredientes más auténticos, desde la harina de trigo italiano hasta el queso mozzarella fresco, todos seleccionados con esmero." %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nuestra selección -->
<div id="nuestraseleccion" class="container-fluid has-bg-overlay-gray text-center text-light has-height-lg middle-items">
    <h2 class="section-title">{% trans "NUESTRA SELECCION" %}</h2>
</div>
<div class="gallary row">
    {% for masa, pizza in pizzas_por_masa.items %}
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="{{ pizza.imagen.url }}" alt="Foto de {{ masa.nombre }}" class="gallary-img">
        <a href="{% url 'pizza_desc' pizza.nombre %}" class="gallary-overlay">
            <p class="h5 white">Masa {{ masa.nombre }}: {{ pizza.nombre }} - {{ pizza.precio }} €</p>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Pizza Base Section -->
<div id="masas" class="container-fluid has-bg-overlay-gray text-center text-light has-height-lg middle-items">
    <h2 class="section-title">{% trans "NUESTRAS MASAS" %}</h2>
</div>
<div class="gallary row">
    {%for masa in masas%}
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{{ masa.imagen.url }}" alt="Foto de {{masa.nombre}}" class="gallary-img">
            <a href="{% url 'pizzas' masa.nombre|slugify %}" class="gallary-overlay">
                <span class="h3 white">Masa {{masa.nombre}}</span>
            </a>
        </div>
    {%endfor%}
</div>

<!-- Selector de masas dinámico -->
 <br><br>

 <div class="container text-center my-4">
    <div class="d-inline-block">
        <label for="masa-select" class="form-label">{% trans "Filtrar pizzas por masa:" %}</label>
        <select id="masa-select" class="form-control">
            <option value="">{% trans "-- Selecciona una masa --" %}</option>
            {% for masa in masas %}
                <option value="{{ masa.id }}">{{ masa.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>


<div id="pizza-list"> 
</div>

<!-- Reservar mesa -->
<div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="book-table">
    <h2 class="section-title mb-5">{% trans "RESERVA MESA" %}</h2>
    <form id="reserva-form" method="post" action="{% url 'reservar_mesa' %}">
        {% csrf_token %}
        <div class="row mb-5">
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="number" id="booktable-guests" name="npersonas" class="form-control form-control-lg custom-form-control" placeholder="NUMERO DE COMENSALES" min="1" max="20" required>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="time" id="booktable-time" name="hora" class="form-control form-control-lg custom-form-control" required>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="date" id="booktable-date" name="fecha" class="form-control form-control-lg custom-form-control" required>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="email" id="booktable-email" name="email" class="form-control form-control-lg custom-form-control" placeholder="EMAIL" required>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary" id="rounded-btn">{% trans "BUSCAR MESA" %}</button>
        <p id="error-message" style="color: red; display: none;">{% trans "Por favor, completa todos los campos correctamente." %}</p>
    </form>
</div>

<!-- Secciones ingredientes -->
<div id="ingredientes" class="container-fluid has-bg-overlay-gray text-center text-light has-height-lg middle-items">
    <h2 class="section-title">{% trans "NUESTROS INGREDIENTES" %}</h2>
</div>
<div class="gallary row">
    {% for ingrediente in ingredientes %}
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="{{ ingrediente.imagen.url }}" alt="{{ ingrediente.nombre }}" class="gallary-img">
        <a href="{% url 'ingrediente_desc' ingrediente.nombre %}" class="gallary-overlay">
            <span class="h3 white">{{ ingrediente.nombre }}</span>
        </a>
    </div>
    {% endfor %}
</div>

<div id="map" style="width: 100%; height: 100%; min-height: 400px"></div>

{% endblock %}
