{% extends 'base.html' %}
{% load static %}
{% block title %}
    Mamma mia! | Pizzas auténticas
{% endblock %}

{% block content %}
    <!-- Header -->
    <header id="home" class="header">
        <div class="overlay text-white text-center">
            <h1 class="display-2 font-weight-bold my-3">Mamma mia!</h1>
            <h2 class="display-4 mb-5">Pizzas auténticas</h2>
            <a class="btn btn-lg btn-primary" href="#gallary">Nuestro menú</a>
        </div>
    </header>

    <!-- About Section -->
    <div id="about" class="container-fluid wow fadeIn" data-wow-duration="1.5s">
        <div class="row">
            <div class="col-lg-6 has-img-bg"></div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-sm-8 py-5 my-5">
                        <h2 class="mb-4">Acerca de nosotros</h2>
                        <p>Bienvenidos a Mamma Mia, donde la tradición italiana se encuentra con la innovación culinaria. Nuestra pizzería se enorgullece de utilizar solo los ingredientes más auténticos, desde la harina de trigo italiano hasta el queso mozzarella fresco, todos seleccionados con esmero. Pero no nos detenemos ahí: nuestras recetas reinventan clásicos atemporales, fusionando sabores tradicionales con toques modernos.</p>
                        <p>Desde nuestra masa artesanal, fermentada lentamente para lograr una textura perfecta, hasta combinaciones únicas de ingredientes frescos y salsas caseras, cada pizza cuenta una historia. En Mamma Mia, cada bocado es un viaje a Italia, pero con un giro contemporáneo que deleitará tu paladar. Ven a disfrutar de una experiencia gastronómica que celebra lo mejor de la cocina italiana, con un enfoque creativo y apasionado. ¡Te esperamos!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pizza Base Section -->
    <div id="gallary" class="container-fluid has-bg-overlay-gray text-center text-light has-height-lg middle-items">
        <h2 class="section-title">NUESTRAS MASAS</h2>
    </div>
    <div class="gallary row">
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/gallary-1.jpg' %}" alt="Foto de masa 1" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Masa fina</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/gallary-2.jpg' %}" alt="Foto de masa 2" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Masa original</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/gallary-3.jpg' %}" alt="Foto de masa 3" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Masa con queso</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/gluten.jpg' %}" alt="Foto de masa 4" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Masa sin gluten</span>
            </a>
        </div>
    </div>

    <!-- Ingredients Section -->
    <div id="ingredients" class="container-fluid has-bg-overlay-gray text-center text-light has-height-lg middle-items">
        <h2 class="section-title">NUESTROS INGREDIENTES</h2>
    </div>
    <div class="gallary row">
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/pepperoni.jpg' %}" alt="Ingrediente 1" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Pepperoni</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/guanciale.jpg' %}" alt="Ingrediente 2" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Guanciale</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/pesto.jpg' %}" alt="Ingrediente 3" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Pesto</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/trufas.jpg' %}" alt="Ingrediente 4" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Trufas</span>
            </a>
        </div>
        <div class="gallary row">
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/parmigiano.jpg' %}" alt="Ingrediente 1" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Parmigiano Reggiano</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/mozzarella.jpg' %}" alt="Ingrediente 2" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Mozzarella</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/setas.jpg' %}" alt="Ingrediente 3" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Setas</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{% static 'assets/imgs/aceitunas.jpg' %}" alt="Ingrediente 4" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <span class="h3 white">Aceitunas</span>
            </a>
        </div>
    </div>

    <!-- Book a Table Section -->
    <div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="book-table">
        <div class="">
            <h2 class="section-title mb-5">RESERVA MESA</h2>
            <div class="row mb-5">
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="email" id="booktable-email" class="form-control form-control-lg custom-form-control" placeholder="EMAIL">
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="number" id="booktable-guests" class="form-control form-control-lg custom-form-control" placeholder="NUMERO DE COMENSALES" max="20" min="1">
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="time" id="booktable-time" class="form-control form-control-lg custom-form-control">
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="date" id="booktable-date" class="form-control form-control-lg custom-form-control">
                </div>
            </div>
            <a href="#" class="btn btn-lg btn-primary" id="rounded-btn">BUSCAR MESA</a>
        </div>
    </div>

    <!-- Reviews Section -->
    <div id="testmonial" class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items">
        <h2 class="section-title my-5 text-center">RESEÑAS</h2>
        <div class="row mt-3 mb-5">
            <div class="col-md-4 my-3 my-md-0">
                <div class="testmonial-card">
                    <h3 class="testmonial-title">Pinno Prestanizzi</h3>
                    <h6 class="testmonial-subtitle">Pizzero</h6>
                    <div class="testmonial-body">
                        <p>Le doy un treh sobre treh.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="testmonial-card">
                    <h3 class="testmonial-title">Gordon Ramsay</h3>
                    <h6 class="testmonial-subtitle">Michelin star chef</h6>
                    <div class="testmonial-body">
                        <p>La masa estaba cruda, ¡Malditamente cruda!. Pero en relidad me ha gustado bastante. 9/10 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="testmonial-card">
                    <h3 class="testmonial-title">Constanza Vanucci</h3>
                    <h6 class="testmonial-subtitle">Abuela Italiana</h6>
                    <div class="testmonial-body">
                        <p>¡Pizza riquisima como en mi querida Italia!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
        <div class="row">
            <div class="col-md-6 px-0">
                <div id="map" style="width: 100%; height: 100%; min-height: 400px"></div>
            </div>
            <div class="col-md-6 px-5 has-height-lg middle-items">
                <h3>ENCUENTRANOS</h3>
                <p>¡Descubre nuestra pizzería en el corazón de San Sebastián! Ubicados en una zona privilegiada, te ofrecemos un ambiente acogedor y familiar, ideal para disfrutar de deliciosas pizzas. Ven a visitarnos y déjate sorprender por nuestros sabores únicos, perfectos para compartir con amigos y familiares. ¡Te esperamos para que vivas una experiencia culinaria inolvidable!</p>
                <div class="text-muted">
                    <p><span class="ti-location-pin pr-3"></span> C. Inés Diego de Noval, 39, 39012 Santander, Cantabria</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
