{% extends 'base.html' %}
{% load static %}

{%block extra_head%}
<link rel="stylesheet" href="{% static 'assets/css/pizzas.css' %}">
{%endblock%}

{% block title%} Pizzas masa {{masa.nombre}} {%endblock%}

{% block content %}


<div class="acerca-de-masa">
<br><br><br><br><br><br>

    <br><br><br>
    <h2 style="text-align: center">Acerca de nuestra masa {{masa.nombre}}</h2><br>
    <div class="fondo-carta" style="background-color: #1f252bb9; padding: 30px; margin:auto; width: 80%; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
    <td>
        <dl class="row">      
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">
            <p>Masa {{masa.nombre}}</p>
        </dd>

        <dt class="col-sm-3">Descripción</dt>
        <dd class="col-sm-9">
            <p>{{masa.descripcion}}</p>
        </dd>

        <dt class="col-sm-3">Precio extra</dt>
        <dd class="col-sm-9">
            <p>{{masa.precio_extra}}€</p>
        </dd>
        </dl>
    </td></div><br>
</div>
<br><br><br><br>
<h1 class="titulo-de-masa">Pizzas con masa {{ masa.nombre }}</h1><br>
<div class="container">
    <div class="row">
        {% if pizzas %}
            {% for pizza in pizzas %}
                <div class="col-sm-6 col-lg-4">
                    <div class="pizza-card">
                        
                        <div class="pizza-img">
                            <img src="{{ pizza.imagen_url }}" alt="{{ pizza.nombre }}" class="img-fluid">
                        </div>
                        

                        <div class="pizza-info">
                            <h4>{{ pizza.nombre }}</h4>
                            <p><strong>Precio:</strong> €{{ pizza.precio }}</p>
                            <a href="{% url 'pizza_desc' pizza.nombre %}">Más información</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay pizzas disponibles con esta masa.</p>
        {% endif %}
    </div>
</div>


{%endblock%}