{% extends 'base.html' %}
{% load static %}

{%block extra_head%}
<link rel="stylesheet" href="{% static 'assets/css/pizzas.css' %}">
{%endblock%}

{% block title%} Pizzas masa {{masa.nombre}} {%endblock%}

{% block content %}
<h1 class="titulo-de-masa">Pizzas con masa {{ masa.nombre }}</h1><br>
<div class="container">
    <div class="row">
        {% if pizzas %}
            {% for pizza in pizzas %}
                <div class="col-sm-6 col-lg-4">
                    <div class="pizza-card">
                        
                        <div class="pizza-img">
                            <img src="{{ pizza.imagen_url }}" alt="{{ pizza.nombre }}" class="img-fluid">
                        </div>
                        

                        <div class="pizza-info">
                            <h4>{{ pizza.nombre }}</h4>
                            <p><strong>Precio:</strong> €{{ pizza.precio }}</p>
                            <a href="{% url 'pizza_desc' pizza.nombre %}">Más información</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay pizzas disponibles con esta masa.</p>
        {% endif %}
    </div>
</div>
{%endblock%}